version: '2'
services:

  web:
    image: ansible/awx_web:{{ item.awx_tower }}
    entrypoint: /entrypoint.sh
    depends_on:
      - rabbitmq
      - memcached
      - postgres
    ports:
      - "{{ item.awx_port }}:8052"
    hostname: awxweb
    user: root
    restart: unless-stopped
    environment:
      http_proxy: "{{ awx_proxy }}"
      https_proxy: "{{ awx_proxy }}"
      no_proxy: "{{ awx_no_proxy }}"
      DATABASE_NAME: "db-{{ item.awx_container }}"
      DATABASE_USER: "db-{{ item.awx_container }}"
      DATABASE_PASSWORD: {{ vault_database_password }}
      DATABASE_PORT: {{ vault_database_port }}
      DATABASE_HOST: {{ vault_database_host }}
      RABBITMQ_USER: {{ vault_rabbitmq_user }}
      RABBITMQ_PASSWORD: {{ vault_rabbitmq_password }}
      RABBITMQ_HOST: {{ vault_rabbitmq_host }}
      RABBITMQ_PORT: {{ vault_rabbitmq_port }}
      RABBITMQ_VHOST: {{ vault_rabbitmq_vhost }}
      MEMCACHED_HOST: {{ vault_memcached_host }}
      MEMCACHED_PORT: {{ vault_memcached_port }}
      AWX_ADMIN_USER: {{ vault_awx_admin_user }}
      AWX_ADMIN_PASSWORD: {{ vault_awx_admin_password }}
    volumes:
      - ./config/SECRET_KEY:/etc/tower/SECRET_KEY:ro
      - ./config/awx_web/entrypoint.sh:/entrypoint.sh:ro
      - ./config/extra_certs:/etc/pki/ca-trust/source/anchors:ro
      - ./data/web/logo-header.svg:/logo-header.svg:ro

  task:
    image: ansible/awx_task:{{ item.awx_tower }}
    entrypoint: /entrypoint.sh
    depends_on:
      - rabbitmq
      - memcached
      - web
      - postgres
    hostname: awx
    user: root
    restart: unless-stopped
    environment:
      http_proxy: "{{ awx_proxy }}"
      https_proxy: "{{ awx_proxy }}"
      no_proxy: "{{ awx_no_proxy }}"
      DATABASE_NAME: "db-{{ item.awx_container }}"
      DATABASE_USER: "db-{{ item.awx_container }}"
      DATABASE_PASSWORD: {{ vault_database_password }}
      DATABASE_PORT: {{ vault_database_port }}
      DATABASE_HOST: {{ vault_database_host }}
      RABBITMQ_USER: {{ vault_rabbitmq_user }}
      RABBITMQ_PASSWORD: {{ vault_rabbitmq_password }}
      RABBITMQ_HOST: {{ vault_rabbitmq_host }}
      RABBITMQ_PORT: {{ vault_rabbitmq_port }}
      RABBITMQ_VHOST: {{ vault_rabbitmq_vhost }}
      MEMCACHED_HOST: {{ vault_memcached_host }}
      MEMCACHED_PORT: {{ vault_memcached_port }}
      AWX_ADMIN_USER: {{ vault_awx_admin_user }}
      AWX_ADMIN_PASSWORD: {{ vault_awx_admin_password }}
    volumes:
      - ./config/SECRET_KEY:/etc/tower/SECRET_KEY:ro
      - ./config/awx_task/entrypoint.sh:/entrypoint.sh:ro
      - ./config/awx_task/ansible.cfg:/etc/ansible/ansible.cfg:ro
      - ./config/extra_certs:/etc/pki/ca-trust/source/anchors:ro

  rabbitmq:
    image: ansible/awx_rabbitmq:3.7.4
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_VHOST: {{ vault_rabbitmq_vhost }}
      RABBITMQ_ERLANG_COOKIE: {{ vault_rabbitmq_erlang_cookie }}

  memcached:
    image: memcached:alpine
    restart: unless-stopped

  postgres:
    image: postgres:9.6
    restart: unless-stopped
    hostname: {{ vault_database_host }}
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "db-{{ item.awx_container }}"
      POSTGRES_PASSWORD: {{ vault_database_password }}
      POSTGRES_DB: "db-{{ item.awx_container }}"
      PGDATA: /var/lib/postgresql/data/pgdata
